#encabezado {
                background-color: purple;
                width: auto;
                height: 30px;
                text-align: right;
            
}

#encabezado > a {
                margin-right: 5px;
                text-decoration: none;
                color: skyblue;
                font-family: Georgia, 'Times New Roman', Times, serif;
}

#encabezado > a:hover {
                        font-size: large;
                        color: white;
}

#lema {
        width: auto;
        height: 100px;
        background-image: url(../imagenes/fondo.jpg);
        color: white;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
        padding-top: 20px;
}

#cuerpo {
            background-color: skyblue;
}

#links {
            list-style: none;
            display: inline-flex;
}

#links > li > a {
                color: purple;
                text-decoration: none;
                margin-right: 10px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: x-large;
}

#links > li > a:hover {
                        color: white;
                        font-size: xx-large;
}

aside {
            text-align: center;
            display: block;
            margin-top: 30px;
}

h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        margin-top: 20px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}